{# HTML outputted by the plugin with context variables passed in $context object at
  Timber::render('glidejs-cf-block.twig', $context); #}


<script src="{{ plugin_path }}node_modules/@glidejs/glide/dist/glide.min.js"></script>
<link rel="stylesheet" href="{{ plugin_path }}node_modules/@glidejs/glide/dist/css/glide.core.min.css">
<!-- <link rel="stylesheet" href="{{ plugin_path }}node_modules/@glidejs/glide/dist/css/glide.theme.min.css"> -->


<div class="glide">

  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides">
      {% for image_url in images %}

      <li class="glide__slide">
        <img
          src="{{ image_url }}"
          alt="alt"
          class="">
      </li>

      {% endfor %}
    </ul>
  </div>

  <div class="slider__bullets glide__bullets" data-glide-el="controls[nav]">
    {% for print in prints %}
      <label class="slider__bullet glide__bullet size-3 bg-slate-400 hover:bg-slate-500" data-glide-dir="={{ loop.index0 }}"></label>
    {% endfor %}
  </div>

</div>

<style>
  /* TODO Could Tailwind class do this? */
  .glide__bullet.glide__bullet--active {
	  background-color: var(--jkl-brand-color-primary);
  }
</style>

<script type="text/javascript">
  new Glide('.glide', {
    type: 'carousel',
    startAt: 0,
    perView: 5,
    autoplay: 7000,
    hoverpause: true,
    keyboard: true,
    animationDuration: 200,
    breakpoints: {
      1280: {
        perView: 3,
        autoplay: 6000,
      },
      720: {
        startAt: 1,  /* May show last one that gets wrapped */
        perView: 2,
        autoplay: 4000,
      }
    }
  }).mount()
</script>
